<section class="all-groups">
    <div class="group-options">
      <div class="add-group">
        <%= link_to 'Create group', new_user_group_path(current_user) %>
      </div>
      <div class="total-amount-for-user">
        <p>Total amount: <%= @total_amount %></p>
      </div>
    </div>
    <% @all_groups.each do |group|%>
      <div class="single-group-container">
          <div class="sample-icon">
            <%= render 'users/dollar'%>
          </div>
          <div class="group-name">
            <%= link_to group.name, user_group_path(current_user.id, group.id) %>
          </div>
          <div class="entities-amount">
            <% group.entities.each do |entity| %>
              <% amount = 0 %>
              <% amount += entity.amount%>
              <%= amount %>
            <%end%>
          </div>
        </div>
    <% end %>
</section>