<section class="group-show">
  <div class="options">
    <div class="add-group">
      <%= link_to 'Create a transaction', new_user_entity_path(current_user) %>
    </div>
    <div class="show-all-groups">
      <%= link_to 'Back to groups', user_groups_path(current_user) %>
    </div>
    <div class="total-amount-for-user">
      <p>Group amount: <%= @group_amount %></p>
    </div>
  </div>
</section>

<%= @group.name%>
<%= @group.icon%>
