<!DOCTYPE html>
<html>
  <head>
    <title>Budget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/63ff2cfeab.js" crossorigin="anonymous" data-mutate-approach="sync"></script>
  </head>

  <body>
    <% if user_signed_in? %>
    <nav class="navbar">
      <%= link_to 'Go back', root_path, class: 'layout-link' %>
      <p class="layout-link">
        Hello <%= current_user.name %>
      </p>
      <%= link_to 'Log out', destroy_user_session_path, class: 'layout-link' %>
    </nav>
    <%end%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
